body{
    background-color: rgba(236, 156, 37, 0.793);
}
.container{
    box-sizing: border-box;
    position: relative;
    width: 336px;
    height: 236px;
    left: 408px;
    top: 232px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin-left: 131px;
    background-color: white;
    padding: 5px;
}
.yellow{
width: 100%;
height: 28px;
margin: -5px;
background: #FFDC40;
border-radius: 10px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px ;
}
h1{
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 30px;
text-align: center;
text-transform: capitalize;
color: #000000;
}
.picture{
    width: 25px;
    height: 15px;
    margin-left: 281px;
    margin-bottom: 5px;
    
}
.img{
    width: 25px;
    height: 15px;
    margin-left: 281px;
    margin-bottom: 5px;
    display: none;
   
}
.text{
    box-sizing: border-box;
width: 286px;
height: 40px;
margin-left: 28px;
border: 1px solid #C4C4C4;
border-radius: 10px;

}
.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 272px;
    top: 121px;
}
.enter{
    border: none;
    max-width: 150px;
    width: 150px;
    height: 42px;
    margin-top: 19px;
    margin-left: 92px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    background: #833AE0;
    border-radius: 71px;
    color: white;
}
.buttton{
border: none;
width: 42px;
height: 42px;
margin-right: -25px;
background-color: #9953F1;
border-radius: 71px;
color: white;
}
.circle:hover{
   background-color: #833AE0;
   border-radius: 72px;
}
.x-btn{
    border-radius: 50%;
    width: 35px;
    height: 22px;
    border: none;
    margin-bottom: 25px;
    margin-left: 220px;
}
.x-btn{
   
    width: 35px;
    height: 22px;
    border: none;
    margin-bottom: 25px;
    margin-left: 220px;
}
.x-btn:hover{
    background-color: #833AE0;
}
.circlee{
    background-color: white;
    border: none;
}









